@using App.UI.Web.Application.ExtensionMethods
@using ASF.UI.WbSite.Constants
@using Boilerplate.Web.Mvc
@using Boilerplate.Web.Mvc.OpenGraph
@using Boilerplate.Web.Mvc.Twitter
@model IEnumerable<ASF.Entities.Category>

@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Categorias";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "La meta descripción es una etiqueta importante para el SEO, y no porque sirva de ayuda en los rankings. Lo cierto es que no afecta para nada a la posición de tus páginas de los resultados del buscador....";
    // Author - (Optional) Used by search engines. The author of the page.
    ViewBag.Author = "Victor Hugo Contreras";
    // Referrer - (Optional) Controls what is sent in the HTTP referrer header when a client navigates from your page
    //            to an external site for increased user privacy and security. See ReferrerMode for more information.
    ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;

    // Add Twitter Card and Open Graph social meta tags so we can customize what happens when our page is shared
    // on these social networks. Note that other social networks like Google+, Pintrest and others also use these.
    // There are dozens of different Twitter Card or Open Graph object types we could add, a different one is added
    // on each page as an example.
    // These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
    // hand code them yourself instead of using these helpers.
    ViewBag.TwitterCard = new SummaryLargeImageTwitterCard("@VContrerasAR");
    ViewBag.OpenGraph = new OpenGraphWebsite(
        ViewBag.Title,
        new OpenGraphImage(Url.AbsoluteContent("~/content/icons/open-graph-1200x630.png")) { Height = 630, Type = ContentType.Png, Width = 1200 })
    {
        Determiner = OpenGraphDeterminer.Blank,
        SiteName = Application.Name
    };
}
<ol class="breadcrumb">
    <li><a href="/">Principal</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangedBy)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangedBy)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

</table>

<span>data: @Html.LanguageString("Members.Register")</span>
